
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>


@section Banner{<div style="height: 300px; overflow: hidden;">
        <img src="@Url.Content("../../Content/Images/;k.JPG")" style="width: 100%;">
    </div>

}
<div class="row">
    <div class="col-sm-6">
        <p>Wellington Hotel</p>
        <p>123-145 Cuba Street</p>
        <p>Wellington, WellingtonCentral</p>
        <p>New Zealand</p><br />

    </div>
    <form>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="your-name" class="col-sm-4 col-form-label">Your Name</label>
                <input type="text" class="col-sm-3 form-control" name="your-name" placeholder="--Enter your name here--" />
            </div>
            <div class="form-group row">
                <label for="your-email" class="col-sm-4 col-form-label">Your Email:</label>
                <input type="text" class="col-sm-3 form-control" name="your-email" placeholder="--fjdkghs@gmail.com--" />
            </div>
            <div class="form-group row">
                <label for="phonenumber" class="col-sm-4 col-form-label">Your Phone Number</label>
                <input type="text" class="col-sm-3 form-control" name="phonenumber" placeholder="--5430867402--" />
            </div>
            <div>
                <input type="button" value="Save" class="btn btn- btn-lg active" aria-pressed="true" />
            </div>
        </div>
    </form>
</div><br />


<div>
    <div style="height: 300px; overflow: hidden;">
        <img src="@Url.Content("../../Content/Images/Dixon.png")" style="width: 100%;">
    </div>
</div><br /><br />

<div class="row">
    <div class="col-sm-7">
        <div class="col-sm-2">
            <input type="button" value="Facebook" class="btn btn-info" aria-pressed="true" />
        </div>
        <div class="col-sm-2">
            <input type="button" value="Twitter" class="btn btn-info" aria-pressed="true" />
        </div>
        <div class="col-sm-2">
            <input type="button" value="Youtube" class="btn btn-info" aria-pressed="true" />
        </div>
    </div>
</div><br /><br />


