
@{
    ViewBag.Title = "BookOnline";
    //List<SelectListItem> list = new List<SelectListItem>();
    //list.Add(new SelectListItem() { Text = "C#", Value = "C#" });

}

@section Scripts {
    @Scripts.Render("~/Scripts/BookingOnline.js")
    

    @*Below are two scripts given for the daterange picker*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

@section Banner{<div style="height: 300px; overflow: hidden;">
        <img src="@Url.Content("../../Content/Images/fg.jpg")" style="width: 100%;">
    </div>
}

<div id="form-step-1">
    <h2>BookOnline</h2>
    <div class="col-md-6">
        <div class="form-group row">
            <label for="arrival-date" class="col-sm-4 col-form-label">Booking Date:</label>
            <div class="input-group input-daterange">
                <input name="daterange" id="booking-date" onchange="checkIn()" type="text" class="form-control" placeholder="--dd/mm/yyyy--">
            </div>
        </div>
        <div class="form-group row">
            <label for="room-type" class="col-sm-4 col-form-label">Room Type</label>            
            <select class="form-control" id="room-type" element onchange="reservation()">
                <option></option>
                <option>Single Room</option>
                <option>Double Room</option>
                <option>Shared Room</option>
            </select>
            <small id="room-type-valid-message" style="display:none;color:red;">Please select a room type</small>
        </div>

        <div class="form-group row">
            <label for="adult" class="col-sm-4 col-form-label">Adult</label>
            <select class="form-control" id="adult" onchange="totalPerson()">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <small id="adult-valid-message" style="display:none;color:red;">Please select number of adults</small>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="infant" class="col-sm-4 col-form-label">Infant</label>
            <select class="form-control" id="infant" onchange="totalPerson()">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <small id="infant-valid-message" style="display:none;color:red;">Please select an infant</small>
        </div>
        <div class="form-group row">
            <label for="children" class="col-sm-4 col-form-label">Children</label>
            <select class="form-control" id="children" onchange="totalPerson()">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <small id="children-valid-message" style="display:none;color:red;">Please select number of children</small>
        </div>
        <div class="form-group row">
            <label for="person" class="col-sm-4 col-form-label">Total Person</label>           
            <span id="total-person">0</span>            
        </div>
    </div>
</div>
<br />

<div id="form-step-2">
    <h2>Personal Information</h2>


    <div class="col-md-6">
        <div class="form-group row">
            <label for="First-name" class="col-sm-4 col-form-label">First Name</label>
            <input type="text" id="First-name" class="col-sm-3 form-control" name="First-name" placeholder="--Enter your name here--" />
            <small id="First-name-valid-message" style="display:none;color:red;">Please enter First Name</small>
        </div>
        <div class="form-group row">
            <label for="Home-Country" class="col-sm-4 col-form-label">Country or region*:</label>
            <input id="Home-Country" type="text" class="col-sm-3 form-control" name="Home-Country" placeholder="--abc--" />
            <small id="Home-Country-valid-message" style="display:none;color:red;">Please enter country name</small>
        </div>

        <div class="form-group row">
            <label for="Phone-number" class="col-sm-4 col-form-label">Phone Number</label>
            <input id="Phone-number" type="text" class="col-sm-3 form-control" name="Phone-number" placeholder="--5430867402--" />
            <small id="Phone-number-valid-message" style="display:none;color:red;">Please enter phone number</small>
        </div>

        <div class="form-group row">
            <label for="Address" class="col-sm-4 col-form-label">Address:</label>
            <input id="Address" type="text" class="col-sm-3 form-control" name="address" placeholder="--abc--" />
            <small id="Address-valid-message" style="display:none;color:red;">Please enter address details</small>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="Sur-name" class="col-sm-4 col-form-label">Sur Name</label>
            <input id="Sur-name" type="text" class="col-sm-3 form-control" name="Sur-name" placeholder="--Enter your name here--" />
            <small id="Sur-name-valid-message" style="display:none;color:red;">Please enter sur-name</small>
        </div>
        <div class="form-group row">
            <label for="Nationality" class="col-sm-4 col-form-label">Nationality:</label>
            <input id="Nationality" type="text" class="col-sm-3 form-control" name="Nationality" placeholder="--abc--" />
            <small id="Nationality-valid-message" style="display:none;color:red;">Please enter your nationality</small>
        </div>
        <div class="form-group row">
            <label for="Email Address" class="col-sm-4 col-form-label">Email Address:</label>
            <input id="Email-Address" type="text" class="col-sm-3 form-control" name="Email Address" placeholder="--fjdkghs@gmail.com--" />
            <small id="Email-Address-valid-message" style="display:none;color:red;">Please enter email address</small>
        </div>
        <div class="form-group row">
            <label for="additional-message" class="col-sm-4 col-form-label">Additional Message:</label>
            <input id="additional-message" type="text" class="form-control input-lg" name="additional-message" placeholder="--abc--" />
            <small id="additional-message-valid-message" style="display:none;color:red;">Please enter aditional message</small>
        </div>
    </div><br />
</div>


<div id="form-step-3">
    <h2>Payment</h2>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="CardNumber" class="col-sm-4 col-form-label">Debit/Credit Card Number</label>
            <input type="text" id="cardnumber" class="col-sm-3 form-control" name="cardnumber" placeholder="--Enter your Card Number here--" />
            <small id="cardnumber-valid-message" style="display:none;color:red;">Please enter your card number</small>
        </div>
        <div class="form-group row">
            <label for="SecurityCode" class="col-sm-4 col-form-label">Security Code</label>
            <input id="security-code" type="text" class="col-sm-3 form-control" name="securitycode" placeholder="--abc--" />
            <small id="security-code-valid-message" style="display:none;color:red;">Please enter card security code </small>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="ExpireMonth" class="col-sm-4 col-form-label">Expire Month</label>
            <input id="ExpireMonth" type="text" class="col-sm-3 form-control" name="expiremonth" placeholder="--Date--" />
            <small id="ExpireMonth-valid-message" style="display:none;color:red;">Please enter expire month</small>
        </div>
        <div class="form-group row">
            <label for="ExpireYear" class="col-sm-4 col-form-label">Expire Year</label>
            <input id="Expire-Year" type="text" class="col-sm-3 form-control" name="expireyear" placeholder="--Date--" />
            <small id="Expire-Year-valid-message" style="display:none;color:red;">Please enter expire year</small>
        </div><br />
    </div>
</div>


<div id="form-step-4">
    <h2>Confirmation</h2>
    <div class="col-md-6">
        <div class="form-group row">
            <label for="booking-number" class="col-sm-4 col-form-label">Booking Number</label> <!--automatic generate automatic number-->
            <span id="booking-number" onchange="BookingNumber()">0</span>
           
        </div>

        <div class="form-group row">
            <label for="reservation" class="col-sm-4 col-form-label">Your Reservation</label> <!--get it from the room details-->
            <span id="reservation">0</span>
           
        </div>

        <div class="form-group row">
            <label for="Check-in" class="col-sm-4 col-form-label">Check-in:</label> <!--get the dates onchange -->
            <span id="check-in">0</span>
           
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group row">
            <label for="Check-out" class="col-sm-4 col-form-label">Check-out:</label> <!--get the dates onchange -->
            <span id="check-out">0</span>           
        </div>
        <div class="form-group row">
            <label for="Gst" class="col-sm-4 col-form-label">Gst:</label> <!--Get the API/method to calculate the GST on room rate-->
            <span id="Gst">0</span>
          
        </div>
        <div class="form-group row">
            <label for="Total-Price" class="col-sm-4 col-form-label">Total Price:</label> <!--Get this from the database--> 
            <span id="total-paid">0</span>
        </div>
        <div class="form-group row">
            <label for="additional-message" class="col-sm-4 col-form-label">Have a Great Trip!</label>
        </div>
    </div><br />
</div>


<button id="nextbutton" onclick="nextStep()">Next</button>

<button id="backbutton" onclick="backStep()">Back</button>

<!--We are using javascript here so postbooking is the link we have given
    in the .js file ajax and the button id : nextbutton funtionality also written in the bookingonline.js file-->
<script>
    var urls = {
        "postBooking" : "@Url.Action("UpdateBookingDetails")"
    }

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });

</script>
<br />